---
author: "Cole Albers"
---
<div>
  <h1 class="top">Home</h1>
    <div class="style1">
      <div class="pageText">
        <h2>Summary</h2>
          <p>
              The Cleveland Endians’ RSpec tutorial was created to help you learn, comprehend, and construct RSpec unit tests for
              the Ruby programming language. Using RSpec while creating Ruby applications can greatly improve your programming
              capabilities and speed up deployment of your application. RSpec is used extensively by agile developers who
              practice Test Driven Development because it greatly reduces the amount of errors and bugs in their code.
          </p>
      </div>
    </div>
    <div class="style2">
      <div class="pageText">
        <h2>Audience/Prerequisites</h2>
        <p>
            The following tutorial is for beginner Ruby programmers who would like to incorporate RSpec into their Ruby
            code. To get the most out of the tutorial, it is recommended you first understand basic programming
            concepts and practices. After you have completed the tutorial, you will be able to successfully incorporate
            RSpec unit tests into your Ruby applications.
        </p>
      </div>
    </div>
</div>