---
author: "Cole Albers"
---
<div>
  <h1 class="top">Introduction</h1>
    <div class="style1">
        <h2>RSpec Installation:</h2>
        <p>
            Before beginning the RSpec Tutorial, you must first install RSpec on your computer.
        </p>
        <p>
            NOTE: This tutorial assumes you have installed Ruby on your computer. If you do not have Ruby installed on
            your computer, following the instructions on the following website before continuing the tutorial:
            <a href="https://www.ruby-lang.org/en/documentation/installation/">Ruby Installation</a>
        </p>
        <p>
            In the command line prompt, type the following:
        </p>
        <img src="images/Introduction_1.PNG" alt="Introduction_1.PNG">
    </div>
    <div class="style2">
      <p>
            After typing the command above, you should see an output like the following:
        </p>
        <img src="images/Introduction_2.PNG" alt="Introduction_2.PNG">
        <p>
            RSpec requires other gems to work correctly, so your output from the command above might show additional
            gems being installed. Do not worry if your output differs from the above example; overall, you should now
            have RSpec installed on your computer.
        </p>
    </div>
    <div class="style3">
        <h2>"Hello World!":</h2>
        <p>
            Like all good tutorials, we are now ready to step you through the process of creating your first
            “Hello World!” program using RSpec.
        </p>
        <p>
            Before we begin, you will need to create some directories to hold your RSpec and Ruby code.
            In the command line prompt, type the following (in order):
        </p>
      <img src="images/Introduction_3.PNG" alt="Introduction_3.PNG">
    </div>
    <div class="style1">
        <p>
            The “spec” folder is where we will be placing our RSpec files because RSpec files are known as “specs”.
            Essentially, “specs” are just test files.
        </p>
        <p>
            In the command line prompt, open your favorite text editor and create the following file
            (named hello_world_spec.rb):
        </p>
        <img src="images/Introduction_4.PNG" alt="Introduction_4.PNG">
    </div>
    <div class="style2">
        <p>
            Save the file, and then, type the following into the command line prompt (in order):
        </p>
        <img src="images/Introduction_5.PNG" alt="Introduction_5.PNG">
    </div>
    <div class="style3">
        <p>
            After typing the command above, you should see an output like the following:
        </p>
        <img src="images/Introduction_6.PNG" alt="Introduction_6.PNG">
        <p>
            Congratulations! You have just successfully created and ran your first RSpec “Hello World!” unit test.
        </p>
    </div>
</div>
